@{
    Layout = "~/Views/Shared/_Layout.cshtml";  
}

@model MarinaBlog.Models.ArticleModel

                <div class="post">
                    <!-- Post Details -->
                    <div class="post_inf">
                        <span>@Model.ArticleDateTime.ToString("D")</span><br />
                        <span class="posn">@Model.ArticleAuthor</span><br />
                        <span class="posc">@Model.ArticleCommentsNumber</span>
                    </div>
                    <!-- Post Title - Permalink -->
                    <h1>
                        <a href="#">@Model.ArticleTitle</a>
                    </h1>
                    <!-- Post Content -->
                    <img src="~/images/art_pic1.jpg" alt="art_pic1" />
                    <p>@Model.ArticleText</p>
                </div>
               
                <!-- Comments -->
                <div class="comments">
                    @foreach (var item in Model.ArticleAllComments) 
                    { 
                                                <div class="comment">
                                <div class="comm_hdr">
                                    <p>@item.CommentAuthor<span> | @item.CommentDateTime.ToString("D") @item.CommentDateTime.ToString("HH:mm")</span></p>
                                </div>
                                <div class="avat">
                                    <img src="~/images/avatar.jpg" alt="avatar" />
                                    <img src="~/images/avatar_frame.png" alt="avatar_frame" class="avatar_frame" />
                                </div>

                                <p class="comm_txt">
                                    @item.CommentText
                                </p>
                            </div>
                    }
                    <!-- Comment -->
                    
                </div>
                <h2>Оставьте комментарий</h2>
                <!-- Comment Form -->
                   <form id="cmnt_frm" action="@Url.Action("AddComment", "Home", new { ArticlePost = Model.ArticleTitle})"method="post" >

                    <p>
                        
                        @Html.TextAreaFor(m => m.NewComment.Comment, new {name="comment", cols="65", rows="10", tabindex="4", id="comment" })
                    </p>
                    <p>
                        <input type="submit" name="submit" value="Отправить" tabindex="5" id="submit" />
                        <input type="submit" name="submit" value="Отмена" tabindex="5" id="submit" />

                    </p>
                </form>
            
            
